@font-face {
  font-family: 'OpenSans-Light';
  font-style: 300;
  font-weight: normal;
  font-display: swap;
  src:
    url('../fonts/OpenSans-Light.woff2') format('woff2'),
    url('../fonts/OpenSans-Light.woff') format('woff');
}

@font-face {
  font-family: 'OpenSans-Regular';
  font-style: 400;
  font-weight: normal;
  font-display: swap;
  src: 
    url('../fonts/OpenSans-Regular.woff2') format('woff2'),
    url('../fonts/OpenSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'OpenSans-SemiBold';
  font-style: 600;
  font-weight: normal;
  font-display: swap;
  src:
    url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
    url('../fonts/OpenSans-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'OpenSans-Bold';
  font-style: 700;
  font-weight: normal;
  font-display: swap;
  src:
    url('../fonts/OpenSans-Bold.woff2') format('woff2'),
    url('../fonts/OpenSans-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Ruda-Regular';
  font-style: 400;
  font-weight: normal;
  font-display: swap;
  src: 
    url('../fonts/Ruda-Regular.woff2') format('woff2'),
    url('../fonts/Ruda-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Ruda-SemiBold';
  font-style: 600;
  font-weight: normal;
  font-display: swap;
  src:
    url('../fonts/Ruda-SemiBold.woff2') format('woff2'),
    url('../fonts/Ruda-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Ruda-Bold';
  font-style: 700;
  font-weight: normal;
  font-display: swap;
  src:
    url('../fonts/uda-Bold.woff2') format('woff2'),
    url('../fonts/Ruda-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Ruda-Black';
  font-style: 900;
  font-weight: normal;
  font-display: swap;
  src: 
    url('../fonts/Ruda-Black.woff2') format('woff2'),
    url('../fonts/Ruda-Black.woff') format('woff');
}